*{
    font-family: 'Noto Sans KR', sans-serif;
}

.wrap_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.menu {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.items {
    margin-top: 10px;
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    gap: 3px;

}
.info {
    width: 47vw;
}
img.item {
    width: 47vw;
}

h1.logo {
    display: flex;
    justify-content: center;
}
button.login {
    width:5rem;
    background-color:lightcoral;
    padding: 10px;
    margin: 10px;
    border-radius: 30px;
    color: white;
    font-size: 12pt;
    border: none;
}

li {
    list-style:none;
}

input {
    width:200px;
    height: 60px;
    padding: 0 10px;
    font-size:12pt;
    border-radius: ;
}

.btn {
    display: flex;
    gap: 5px;
    margin-top: 20px;
}

button.box_btn.large.cart {
    display: inline-block;
    margin: 0;
    padding: 8px;
    border: 1px solid #676767;
    outline: none;
    background: #666;
    color: white;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    line-height: 1.4;
    white-space: nowrap;
    cursor: pointer;
    -webkit-appearance: none;
    transition: all .2s ease;
    width: 236px;
}

button.box_btn.large.gray.buy {
    display: inline-block;
    margin: 0;
    padding: 8px;
    border: none;
    background: #f5f5f5;
    color: #666 !important;
    outline: none;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    line-height: 1.4;
    white-space: nowrap;
    cursor: pointer;
    -webkit-appearance: none;
    transition: all .2s ease;
    width: 236px;
}


a {
    text-decoration: none;
}

.prdimg {
    width: 50vw;
}

.prd_container {
    display: flex;
}

img#mainImg {
    width: 48vw;
}